<project>
  <files>
    <dir
      name=".">
      <dir
        name="Source">
        <dir
          name="CPack">
          <dir
            name="IFW"/>
        </dir>
        <dir
          name="CTest"/>
        <dir
          name="CursesDialog">
          <dir
            name="form"/>
        </dir>
        <dir
          name="LexerParser"/>
        <dir
          name="kwsys"/>
      </dir>
      <dir
        name="Utilities"
        excluded="true">
        <dir
          name="cmlibarchive">
          <dir
            name="libarchive">
            <found
              name="archive_getdate.c"/>
            <found
              name="archive_getdate.h"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="build"
        excluded="true">
        <dir
          name="Source">
          <dir
            name="CPack">
            <found
              name="cmCPackConfigure.h"/>
          </dir>
          <dir
            name="CursesDialog">
            <dir
              name="form">
              <found
                name="cmFormConfigure.h"/>
            </dir>
          </dir>
          <found
            name="cmConfigure.h"/>
          <found
            name="cmVersionConfig.h"/>
          <dir
            name="cmsys">
            <found
              name="Base64.h"/>
            <found
              name="CommandLineArguments.hxx"/>
            <found
              name="Configure.h"/>
            <found
              name="Configure.hxx"/>
            <found
              name="Directory.hxx"/>
            <found
              name="DynamicLoader.hxx"/>
            <found
              name="Encoding.h"/>
            <found
              name="Encoding.hxx"/>
            <found
              name="FStream.hxx"/>
            <found
              name="Glob.hxx"/>
            <found
              name="MD5.h"/>
            <found
              name="Process.h"/>
            <found
              name="RegularExpression.hxx"/>
            <found
              name="Status.hxx"/>
            <found
              name="String.h"/>
            <found
              name="System.h"/>
            <found
              name="SystemInformation.hxx"/>
            <found
              name="SystemTools.hxx"/>
            <found
              name="Terminal.h"/>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
</project>
