<project>
  <files>
    <dir
      name=".">
      <dir
        name="Source">
        <dir
          name="CPack">
          <dir
            name="IFW"/>
        </dir>
        <dir
          name="CTest"/>
        <dir
          name="CursesDialog">
          <dir
            name="form"/>
        </dir>
        <dir
          name="LexerParser"/>
        <dir
          name="kwsys"/>
      </dir>
      <dir
        name="Utilities">
        <dir
          name="cmlibarchive">
          <dir
            name="libarchive"/>
        </dir>
      </dir>
      <dir
        name="build">
        <dir
          name="Source">
          <dir
            name="CPack"/>
          <dir
            name="CursesDialog">
            <dir
              name="form"/>
          </dir>
          <dir
            name="cmsys"/>
        </dir>
      </dir>
    </dir>
  </files>
</project>
